<h1>Media Trends List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th colspan="2"></th>
  </tr>
 
  <% @trends.each do |tweet| %>
    <tr>
      <td><%= tweet.title %></td>
      <td><%= tweet.text %></td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Show', trend_url(tweet) %></button></td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Edit', edit_trend_url(tweet) %></button></td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Destroy', trend_url(tweet),
              method: :delete,
              data: { confirm: 'Are you sure? Do you like to delete this Post?' } %></button></td>
    </tr>
  <% end %>
</table>